In [1]:
import pandas as pd

In [2]:
covid_csv = "covid_cases_deaths.csv"
covid_df = pd.read_csv(covid_csv)
covid_df = covid_df.drop(["county", "state"], axis=1)
covid_df = covid_df.dropna(how='any')
covid_df

            date     fips  cases  deaths
0      1/21/2020  53061.0      1       0
1      1/22/2020  53061.0      1       0
2      1/23/2020  53061.0      1       0
3      1/24/2020  17031.0      1       0
4      1/24/2020  53061.0      1       0
...          ...      ...    ...     ...
70213  4/18/2020  56035.0      1       0
70214  4/18/2020  56037.0     10       0
70215  4/18/2020  56039.0     62       0
70216  4/18/2020  56041.0      6       0
70217  4/18/2020  56043.0      4       0

[69315 rows x 4 columns]

In [4]:
jan21_df= covid_df[covid_df['date'] == '1/21/2020']
jan21_df.to_csv("jan21_df.csv", index=False, header=True)
jan21_df

        date     fips  cases  deaths
0  1/21/2020  53061.0      1       0

In [ ]:
jan22_df= covid_df[covid_df['date'] == '1/22/2020']
jan22_df.to_csv("jan22_df.csv", index=False, header=True)
jan22_df

In [ ]:
jan23_df= covid_df[covid_df['date'] == '1/23/2020']
jan23_df.to_csv("jan22_df.csv", index=False, header=True)
jan23_df